@model DateTime

@{
    ViewBag.Title = "Pay";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Ecommerce site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Product List", "Index", "ProductList")</li>
                <li>
                    <button type="button" aria-label="Left Align" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Orders") + "'");">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Cart
                    </button>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="container body-content">
    <h2>Payment Done with order for @Model</h2>
</div>

