@model IEnumerable<Ecommerce1.Models.Product>

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<h2>List of available products:</h2>



<div class="container body-content">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="row">
                <h4>
                    <span id="productname" style="color:black">@item.ProductName</span>
                </h4>
            </div>
            <p>
                <img src="~/Images/@item.ProductImg" style="overflow:hidden; position: relative;width:200px;height:200px" />
            </p>
            <p>
                <span id="productprice" style="color:black">Rs @item.ProductPrice </span>
            </p>
            <p>
                <span id="businessname" style="color:black">@item.Business.BusinessName</span>
            </p>
            <p>
                <input type="number" id="@item.ProductId" />
                <button type="button" onclick="submit('@item.ProductId')" class="btn btn-info">
                    Add
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </button>
            </p>
            @Html.ActionLink("Details", "Details", new { id = item.ProductId })
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script>
            //submit data with jQuery AJAX
            function submit(product) {
                var data = document.getElementById(product).value;
                var token = $("[name='__RequestVerificationToken']").val();
                console.log(data);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset = UTF-8',
                    data: { __RequestVerificationToken: token, id: product, qty: data },
                    url: "/ProductList/AddOrder"
                });
            }
        </script>


    }
</div>





